{{#if this.model.noContent}}
  {{#if this.viewingSelf}}
    <div class="alert alert-info">{{i18n "user.feed.empty_feed_you"}}</div>
  {{else}}
    <div class="alert alert-info">{{i18n
        "user.feed.empty_feed_other"
        username=this.user.username
      }}</div>
  {{/if}}
{{else}}
  {{follow-post-stream stream=this.model}}
{{/if}}