{{body-class "user-follow-page"}}

<div class="user-navigation user-navigation-secondary">
  <HorizontalOverflowNav>
    {{#if (eq model.id currentUser.id)}}
      <DNavigationItem @route="feed">
        <span>{{i18n "user.feed.label"}}</span>
      </DNavigationItem>
    {{/if}}

    {{#if model.can_see_following}}
      <DNavigationItem @route="following">
        <span>{{i18n "user.following.label"}}</span>
      </DNavigationItem>
    {{/if}}

    {{#if (and model.can_see_followers model.allow_people_to_follow_me)}}
      <DNavigationItem @route="followers">
        <span>{{i18n "user.followers.label"}}</span>
      </DNavigationItem>
    {{/if}}
  </HorizontalOverflowNav>
</div>

<section class="user-content user-follows-tab">
  {{outlet}}
</section>