<div class="control-group follow-notifications">
  <label class="control-label">{{i18n "user.follow.label"}}</label>

  <div class="controls">
    <PreferenceCheckbox
      @labelKey="user.follow_notifications_options.allow_people_to_follow_me"
      @checked={{user.allow_people_to_follow_me}}
    />

    <PreferenceCheckbox
      @labelKey="user.follow_notifications_options.notify_me_when_followed"
      @checked={{user.notify_me_when_followed}}
    />

    <PreferenceCheckbox
      @labelKey="user.follow_notifications_options.notify_followed_user_when_followed"
      @checked={{user.notify_followed_user_when_followed}}
    />

    <PreferenceCheckbox
      @labelKey="user.follow_notifications_options.notify_me_when_followed_replies"
      @checked={{user.notify_me_when_followed_replies}}
    />

    <PreferenceCheckbox
      @labelKey="user.follow_notifications_options.notify_me_when_followed_creates_topic"
      @checked={{user.notify_me_when_followed_creates_topic}}
    />
  </div>
</div>